<!DOCTYPE html>
<html>
  <head>
    <title> <%= movie.title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= movie.title %></h1>
    <p><%= movie.synopsis %></p>
    <form action="<%= '/movies/' + movie.id/favorite + '?_method=PUT' %>" method='POST'>
      <button type='submit'>Favorite</button>
    </form>
    <a href='<%= `/movies/${movie.id}/edit` %> '><button>Edit</button></a>
    <form action='<%= `/movies/${movie.id}?_method=DELETE` %>' method='POST'>
        <button type="submit">Delete</button>
    </form>
    <a href="/movies"><button>Back</button></a>
  </body>
</html>
